

.App-header {
  background-color: #324a5f; /* Change color to blue */
  min-height: 60px; /* Adjust this value as needed */
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px; /* Adjust font size as needed */
  color: #0066ff;
}


.App-logo {
  height: 40px; /* Adjust this value as needed */
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}
